.admin-panel-manage-reservations-wrapper { 
    width: 100%;
}

.admin-panel-manage-reservations-wrapper > h1 { 
    text-align: center;
}

.manage-reservations-headings  { 
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.manage-reservations-headings li  { 
   flex: 1 1 0;
   text-align: center;
}

.managa-reservations-list { 
    padding: 0;
}

.managa-reservations-list > h1 { 
    text-align: center;
    font-size: 30px;
}


.reservations-paggination { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservations-paggination li { 
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
}

.reservations-paggination li:hover { 
    border: 1px solid #CEB38C;
    color: #CEB38C;
}


.reservations-paggination li a { 
    color: black;
    text-decoration: none;
}

.reservations-paggination li a:hover { 
    color: #CEB38C;
    text-decoration: none;
}



