.admin-page-main-content { 
    width: 100%;
}

.admin-page-main-content h1 { 
    text-align: center;
}

.admin-page-restaurant-stats ul  {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.admin-page-restaurant-stats ul li {
  margin: 10px;
}


.delivery-stats {
    background: url('../../../assets//ordersDeliverdBackground.jpg');
    width: 300px;
    height: 100px;
    color: white;
}


.order-received-stats {
    background: url('../../../assets/ordersReceivedBackground.jpg');
    width: 300px;
    height: 100px;
    color: white;
}

.earnings-stats{
    background: url('../../../assets/earningsBackground.jpg');
    width: 300px;
    height: 100px;
    color: white;
}

.earnings-stats h1{
    position: absolute;
    top: 14px;
    right: 94px;
}

.earnings-stats p{
    position: absolute;
    right: 117px;
    top: 26px;
}



.admin-page-restaurant-stats ul li div h1  {
  margin: 0;
  font-size: 23px;
}

.admin-page-restaurant-stats ul li div p { 
    text-align: center;
    font-size: 23px;
}

.admin-page-restaurant-stats ul li div  { 
    position: relative;
}

.admin-panel-dashboard-icon { 
    position: absolute;
    top: 19px;
    font-size: 45px;
    right: 221px;
}

.stats h1 { 
    position: absolute;
    right: 34px;
    top: 14px;
}

.stats p { 
    position: absolute;
    top: 26px;
    right: 97px;
}

.charts-wrapper { 
    display: flex;
    justify-content: center;
}

.line-chart-wrapper {
    width: 80%;
    margin-left: 46px;
}

.line-chart-wrapper h3 { 
    text-align: center;
}

.doughnut-chart-wrapper { 
    width: 30%;
}

.doughnut-chart-wrapper h3 { 
   text-align: center;
}

@media screen and (max-width:924px) {
        .charts-wrapper { 
            flex-direction: column;
            align-items: center;
        }

        .line-chart-wrapper , .doughnut-chart-wrapper { 
            width: 87%;
        }
}

@media screen and (max-width:330px) {
  .admin-page-restaurant-stats ul li .stats i , .earnings-stats i {
        display: none;
  }
  .admin-page-restaurant-stats ul li .stats  , .earnings-stats  {
    width: 200px;
    }
  
}