.admin-page-menu-edit-product { 
    width: 100%;
}

.admin-page-menu-edit-product-inputs { 
    text-align: center;
}

.admin-page-menu-edit-product-inputs h1 { 
    font-size: 30px;
}

.admin-page-menu-edit-product-inputs input { 
    padding: 10px 30px;
    width: 241px;
}

.admin-page-menu-edit-product-inputs select { 
    padding: 10px 30px;
    width: 300px;
}

.menu-add-product-button-wrapper { 
    text-align: center;
}

.menu-add-product-button-wrapper button {
    margin-top: 30px; 
    padding: 10px 30px;
    border: none;
    background: green;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.menu-add-product-button-wrapper button:hover { 
    background: rgb(17, 160, 17);
}


.product-images-wrapper {
    background: gray;
    width: 30%;
    margin: 0 auto;
}

.product-images-wrapper ul  {
    padding: unset;
    list-style: none; 
    display: flex;
    justify-content: center;
    width: 100%;
}