.productName-and-productPrice-wrapper { 
    display: flex;
    justify-content: space-between;
    font-size: 27px;

}


.product-price { 
    margin-left: 30px;
    color: #CEB38C;
}

.product-ingredients p{ 
    margin-top: -25px;
    width: 300px;
    font-size: 19px;
    color: gray;
}
