

.checkout-order-details-wrapper ,  .checkout-page-order-information-wrapper{ 
    flex-basis: 48%;
}


.checkout-page-order-information-wrapper { 
    border-left: 1px solid gray;
}

.order-page-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

.order-checkout-details { 
    width: 50%;
    margin: 0 auto;
}

.order-checkout-details h1{ 
    text-align: center;
}

.order-checkout-details form div label { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}


.order-checkout-details form div label input{ 
  background: #F2F2F2;
  border: 1px solid gray;
  border-radius: 7px;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

.make-order-button { 
    cursor: pointer;
    background: #2E86DE;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    width: 100%;
    margin: 30px 0px;
}

.make-order-button:hover { 
    background: #459cf3;
   
}

.make-order-button:disabled { 
    background: gray;
    opacity: 0.7;
    cursor: auto;
}

.ordered-products-section-wrapper { 
    height: 475px;
    overflow: auto;
}

.ordered-products-section-wrapper ul   { 
    padding: 0;
 }

.ordered-products-section-wrapper ul li  { 
   display: flex;
   margin: 20px;
}

.ordered-products-section-wrapper ul li img { 
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}


.checkout-page-ordered-products { 
    height: 100%;
    border-bottom: 1px solid gray;
}


.checkout-page-discount-code > h3 { 
    text-align: center;
}

.checkout-page-discount-code  { 
    border-bottom: 1px solid gray;
    padding: 10px 20px 30px 20px;
}

.checkout-page-discount-code > div   { 
   display: flex;
   justify-content: center;
}

.checkout-page-discount-code > div input  { 
   border: 1px solid #5494D3;
   border-radius: 7px;
   outline: none;
   text-align: center;
}

.checkout-page-discount-code > div button  { 
    cursor: pointer;
    border: 1px solid #5494D3;
    color: #5494D3;
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    margin-left: 10px;
    font-weight: bold;
}

.checkout-page-discount-code > div button:hover  { 
    background: #5494D3;
    color: white;
}

.checkout-page-order-price-wrapper { 
    padding: 10px;
}

.checkout-page-order-price-wrapper div { 
    width: 30%;
    display: flex;
    justify-content: space-evenly;

}

.checkout-page-order-price-wrapper div p:nth-child(1){ 
    flex: 1 1 0px;
}


@media screen and (max-width:660px) {
    .checkout-order-details-wrapper ,  .checkout-page-order-information-wrapper{ 
        flex-grow: 1;
    }

    .checkout-page-order-price-wrapper div { 
        width: 100%;
    }

    .order-checkout-details { 
        width: 90%;
    }
    
}

@media screen and (max-width:340px) {
  
    .checkout-page-discount-code > div { 
        flex-direction: column;
    }

    
    .checkout-page-discount-code > div input{ 
        padding: 10px;
        margin-bottom: 10px;
    }

    .checkout-page-discount-code > div button { 
        margin-left: unset;
    }
    
}

