.main-menu-wrapper { 
    height: 100vh;
}

.main-menu-wrapper h1 { 
    text-align: center;
    font-size: 40px;
}

.main-menu-categories { 
    max-width: 54%;
    margin: 0px 0px 0px 15%;
}

.main-menu-categories ul  { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.main-menu-categories ul li { 
    margin: 10px;
}

.main-menu-categories ul li a img { 
    width: 200px;
    height: 200px;
    border-radius: 33px;
    object-fit: cover;
}

.main-menu-categories ul li a img:hover { 
    animation-name: onImageHover;
    animation-duration: 2s;
}

.main-menu-categories-name { 
    font-size: 30px;
}


.main-menu-ul-wrapper { 
    width: 133%;
}


@keyframes onImageHover {
    0% {
        transform: scale(1.1);
    }
    100% { 
        transform: scale(1);
    }
}

