.checkout-page-ordered-product-wrapper { 
    display: flex;
    margin: 30px;
}

.checkout-page-ordered-product-wrapper img { 
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.checkout-page-remove-add-product-buttons-wrapper { 
    display: flex;
    align-items: center;
}

.checkout-page-product-quantity{ 
    padding: 0px 3px 0px 3px;
 }

 .checkout-page-product-price { 
    margin-left: 7px;
}

.checkout-page-remove-product { 
    cursor: pointer;
    color: gray;
    margin: 15px 0px 0px 10px;
    height: 15px;
}

.checkout-page-remove-product:hover { 
    color: tomato;
}
