.reservation-page-wrapper { 
    height: 90vh;
}


.reservation-page-content { 
    background: white;
    max-width: 600px;
    border-radius: 10px;
    margin: 200px auto;
}

.navigation-headings { 
    border-bottom: 1px solid gray;
    padding: 10px;
}

.navigation-headings span { 
    margin: 10px;
    font-size: 19px;
    font-weight: bold;
}

.reservation-select-menu { 
    margin: 30px;
    display: flex;
    flex-wrap: wrap;

}

.reservation-date { 
    padding: 8px;
    border: 1px solid gray;
    flex-grow: 1;
}

.reservation-select { 
    padding: 10px;
    border: 1px solid gray;
    flex-grow: 1;
}

.find-table-btn { 
    padding: 10px 20px;
    background: rgb(218, 55, 67);
    color: white;
    font-weight: bold;
    border: none;
}

.find-table-btn:hover { 
    background: #931B23;
}

.free-reservation-btn { 
    margin: 10px;
    background: rgb(218, 55, 67);
    padding: 7px 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
}

.free-reservation-btn:hover { 
    background: #931B23;
}



.reservation-details-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-details-wrapper form input {
  width: 161px;
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
}

.confirm-reservation-btn { 
    background: rgb(218, 55, 67);
    color: white;
    padding: 10px 40px;
    font-size: 20px;
    border: none;

}
.confirm-reservation-btn:hover { 
    background: #931B23;
}



@media screen and (max-width:500px) {
    .find-table-btn { 
        flex-grow: 1;
    }
}